*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

/* colors */

:root {
  --darker-blue-grey: #2e323f;
  --dark-blue-grey: #3b4050;
  --steel-grey: #6f737f;
  --white: #ffffff;
  --beige: #a59678;
}

.header-color {
  background-color: var(--darker-blue-grey);
  color: var(--white);
}

.hero-section-color {
  background-color: var(--dark-blue-grey);
  color: var(--white);
}
