/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
  padding: 0.25em 0.75em;
  border-radius: 100px;
}

h1 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
}

/* colors */

:root {
  --darker-blue-grey: #2e323f;
  --dark-blue-grey: #3b4050;
  --steel-grey: #6f737f2a;
  --white: #ffffff;
  --beige: #a59678;
}

.header-color {
  background-color: var(--darker-blue-grey);
  color: var(--white);
}

.hero-section-color {
  background-color: var(--dark-blue-grey);
  color: var(--white);
}

.link-color {
  background-color: var(--beige);
  color: var(--white);
}

.selling-points-color {
  background-color: var(--steel-grey);
}

.text-highlight {
  color: var(--beige);
}

.aside-color {
  background-color: var(--dark-blue-grey);
  color: var(--white);
}

.footer-color {
  background-color: var(--dark-blue-grey);
  color: var(--white);
}

/********** layout **********/

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header & nav */

header {
  padding: 1.5rem 0;
  font-size: 18px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.logo__link {
  padding: 1.5em 1em 0.5em 1em;
}

.nav__link {
  background-color: pink;
}

/* hero section */

.hero-sect {
  padding: 8rem 0 10rem;
  text-align: center;
}

.hero-sect > * {
  border: 2px solid yellow;
}

.hero-sect__heading {
  font-size: 45px;
  line-height: 1.1em;
}

.hero-sect__content {
  font-size: 24px;
}

.hero-link {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

/* article */

.selling-points {
  padding: 4rem 0;
}

.selling-points h2 {
  font-size: 30px;
}

.selling-points p {
  font-size: 18px;
}

/* main */

.main__aside--card {
  text-align: center;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.main__content h2 {
  font-size: 36px;
}

.main__content p {
  font-size: 21px;
}

.main__aside h3 {
  font-size: 30px;
}

.main__aside p {
  font-size: 18px;
}

/* footer */

.footer {
  padding: 1rem 0;
}

.footer__heading {
  text-align: center;
  font-size: 24px;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__content h3 {
  font-size: 21px;
}

.footer__content a {
  font-size: 16px;
}

.footer__about {
  border: 2px solid yellow;
}

.footer__links {
  border: 2px solid cyan;
}

.footer__card {
  border: 2px solid black;
  text-align: center;
}

.footer__card .nav__item {
  margin-bottom: 1rem;
}

/* media querys */

@media (min-width: 700px) {
  .hero-sect__heading {
    font-size: 60px;
  }

  .hero-sect {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
  }

  .selling-points-layout {
    display: flex;
    gap: 2rem;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .hero-sect__heading {
    font-size: 90px;
  }

  .selling-points-layout {
    gap: 8rem;
  }

  .main__aside {
    display: flex;
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
}
